@keyframes bg-anim {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes bg-circle {
    0% {
        background-size: 350%;
        background-position: left 100% bottom 0;
    }

    50% {
        background-size: 350%;
        background-position: left -10% bottom 0;
    }

    100% {
        background-size: 350%;
        background-position: left 100% bottom 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes scale {
    0% {
        transform: rotate(25deg) scale(130%);
    }

    50% {
        transform: rotate(-25deg) scale(130%);
    }

    100% {
        transform: rotate(25deg) scale(130%);
    }
}