.navigation {
    position: relative;
    width: 70px;
    height: 280px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 500;
    transition: .5s;

}

.navigation ul li span .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: .5s;

}

.navigation ul li.active span .icon {
    color: #fff;
}


.navigation ul li span .icon i {
    font-size: 24px;
}

.navigation ul li span .title {
    position: absolute;
    top: 50%;
    left: 110px;
    background: #fff;
    transform: translateY(-50%);
    border-radius: 6px;
    transition: .5s;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
    padding: 5px;
}

.navigation ul li:hover span .title {
    opacity: 1;
    visibility: visible;
    transform: translateX(-25px) translateY(-50%);

}

.navigation ul li span .title::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    left: -8px;
    top: 46%;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 2px;
    z-index: -1;
}

.navigation ul .indicator {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    transition: .5s;

}

.navigation ul .indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .5s;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateY(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateY(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateY(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateY(calc(70px * 3));
}

.navigation ul li:nth-child(1).active~.indicator::before {
    background: linear-gradient(.151turn, #ff5858 23.71%, #c058ff 78.8%);
}

.navigation ul li:nth-child(2).active~.indicator::before {
    background: linear-gradient(.351turn, #ff5858 23.71%, #c058ff 78.8%);
}

.navigation ul li:nth-child(3).active~.indicator::before {
    background: linear-gradient(.551turn, #ff5858 23.71%, #c058ff 78.8%);
}

.navigation ul li:nth-child(4).active~.indicator::before {
    background: linear-gradient(.751turn, #ff5858 23.71%, #c058ff 78.8%);
}


.phone_view {
    width: 350px;
    max-width: 350px;
    border: 15px solid #222;
    border-radius: 40px;
    height: 723px;
    max-height: 723px;
    transform-origin: right top;
    transform-origin: 0 0;
    background-color: #222;
    transform: scale(0.733813);
}