#list-user {
    .my-container {
        width: 1100px;
        margin: 0 auto;
        .card-top {
            width: 700px;
            height: 300px;
            position: relative;
            .card-img {
                width: 50%;
                border-radius: 50%;
                border: 4px solid #ffffff;
                transition: all 0.35s ease-in-out;
                transform: scale(1.2);
                position: relative;
                left: -15%;
                z-index: 10;
            }
            .card-body {
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px 10px 10px 200px;
                padding: 10px;
                width: 40%;
                background-color: #fff;
            }

            .card-footer {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 70px;
                .over-lay {
                    background-color: rgba($color: #000000, $alpha: 0.4);
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                }
                .emote {
                    z-index: 10;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(10%, -50%);
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    width: 10%;
                    padding: 10px;
                    p {
                        color: $color-red-1;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
            &:hover {
                .card-img {
                    left: -10%;
                }
            }
        }

        .card-default {
            height: 150px;
            position: relative;
            overflow: hidden;
            .bl-bg {
                background: linear-gradient(0.351turn, $color-red-primary 23.71%, $color-purple-primary 78.8%);
                background-size: 165%;
                width: 120px;
                height: 120px;
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                &:hover {
                    animation-name: bg-anim;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                }
            }
            .card-body {
                margin: 10px 10px 10px 200px;
            }
            .emote {
                z-index: 10;
                position: absolute;
                right: 0;
                bottom: 5%;
                transform: translatex(100%);
                display: flex;
                align-items: center;
                width: 20%;
                padding: 5px;
                p {
                    color: $color-red-1;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
            &:hover {
                .emote{
                    transform: translateX(10%);
                }
            }
        }
    }
}
