#stat{
    .stat-toolbar {
        color: $color-gray-4
    }
    
    .stat-toolbar.active {
        color: $color-black
    }
    
    .stat-toolbar.active:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 2px;
        background: linear-gradient(112.44deg, $color-red-primary 2.09%, $color-purple-primary 75.22%);
        background-size: 165%;
    }
    
    .stat-progress-each {
        height: 62px;
        background: $color-black-6;
        box-shadow: inset 0 0 8px hsl(0deg 0% 100% / 20%);
    }
    
    .stat-progress-bar {
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg,$color-progressBar-1, $color-progressBar-2);
    }
}