.tour {
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    z-index: 9999;

    .modal_tour {
        min-width: 150px;
        max-width: 500px;
        border-radius: 10px;
        background-color: $color-white;
        padding: 24px 30px;
        top: 0;
        left: 0;
        z-index: 10000;
        position: fixed;
        color: $color-gray-7;
        font-size: 18px;
        user-select: none;
    }

    .index0 {
        width: 260px;
    }

    .tour_overlay {
        border-radius: 10px;
        position: absolute;
        background-color: transparent;
        z-index: 10000;
        box-shadow: 0 0 0 9999px $color-black-7;
    }

    .step_index {
        position: absolute;
        top: -13px;
        left: -13px;
        z-index: 10010;
        width: 40px;
        height: 40px;
        transform: rotate(-15deg);
        cursor: default;
    }

    .tour_dot {
        width: 6px;
        height: 6px;
    }

    .tour_close {
        height: 12px;
        width: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .tour_img {
        position: absolute;
        width: 85px;
        height: 85px;
        border-radius: 9999px;
        border: 5px solid $color-white;
    }

    .quan_noi {
        top: -70px;
        left: -20%;
        transform: rotate(-30deg);
        z-index: 10001;
    }

    .quan_noi:hover {
        transform: rotate(-60deg) scale(1.2);
    }

    .khanh_noi {
        top: -80px;
        left: 0%;
        transform: rotate(-15deg) scale(1.2);
        z-index: 10002;
    }

    .khanh_noi:hover {
        transform: rotate(-30deg) scale(1.4);
    }

    .lam_noi {
        top: -90px;
        left: 30%;
        transform: scale(1.5);
        z-index: 10003;
    }

    .lam_noi:hover {
        transform: scale(1.7);
    }

    .hieu_noi {
        top: -80px;
        left: 60%;
        transform: rotate(15deg) scale(1.2);
        z-index: 10002;
    }

    .hieu_noi:hover {
        transform: rotate(30deg) scale(1.4);
    }

    .ngocanh_noi {
        top: -70px;
        left: 80%;
        transform: rotate(-0deg);
        z-index: 10001;
    }

    .ngocanh_noi:hover {
        transform: rotate(30deg) scale(1.2);
    }

    .tour_close:hover {
        transform: scale(1.5);
    }

    .step_index:hover {
        transform: scale(1.6);
    }

    .khanh_noi.active {
        top: -55px;
        left: -55px;
        animation: scale infinite;
        animation-duration: 1s;
    }

    .img_left.khanh_noi {
        top: -55px;
        left: -55px;
        transform: rotate(-15deg) scale(1);
    }

    .img_left:hover {
        transform: scale(1.4);
    }

   
}
