

.font-inter{
    font-family: Inter,sans-serif;
}

img, video{
    max-width: 100%;
    height: auto;
}

.width_1300{
    width: 1300px;
    border-radius: 100px;
}

.w-1100{
    width: 1100px
}

.width_840{
    width: 840px;
}

.w-760{
    width: 760px;
}

.w-200{
    width: 200px;
}

.w-175{
    width: 175px;
}

.w-125{
    width: 125px;
}

.w-165{
    width: 165px;
}
.w-h-48{
    height: 48px;
    width: 48px;
}

.nav-smooth{
    padding-top: 10px;
    margin: 0;
    transition: padding-top .75s ease;
}

.nav-smooth.active{
    padding-top: 0px;
    transition: padding-top .75s ease;
}

.heading_gradient{
    background: #000;
    background-color: #000;
    background-image: radial-gradient(circle,#c058ff 0,#ff5858 26%,#000 27%);
    background-position: 100% 100%;
    background-size: 150%;
    animation-name: bg-circle;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.self-center{
    align-self: center;
}

.leading-100{
    line-height: 100px;
}

.bg_trans{
    background: 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.bg_landing{
    background: #fff;
    transition: background .75s ease;
}

.bg_dark{
    background: #000;
    transition: background .75s ease;
}


.bl-bg{
    transition: .25s ease-in-out;
}

.bl-bg:hover{
    animation-name: bg-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.bl-bg, .bl-bg:hover{
    background: linear-gradient(.351turn,#ff5858 23.71%,#c058ff 78.8%);
    background-size: 165%;
}

.input-border-none{
    border: 2px solid transparent;
}

.bl-input{
    height: 50px;
}

.bl-input:focus {
    outline: 0;
}

.dark-space-black{
    transform: matrix(1,-.04,.07,1,0,0) scale(1);
    border-radius: 12px;
}

.dark-space{
    background: linear-gradient(180deg,#ff5858,#c058ff);
    transform: matrix(1,.04,-.07,1,0,0) scale(1);
    width: 1300px;
    border-radius: 12px;
    transition: all .75s ease;
}

.dark-space-in{
    background: #000;
    border-radius: 0;
    transition: all .75s ease;
}

.dark-space-in .dark-space-black{
    transform: matrix(1,-.04,.07,1,0,0) scale(1.1);
    border-radius: 0;
}

.dark-space-black, .dark-space-in .dark-space-black{
    transition: all .72s ease;
}

.text-gradient{
    background: #000;
    background-color: #000;
    background-image: linear-gradient(.351turn,#ff5858 23.71%,#c058ff 78.8%);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    transition: all .75s ease;
}

.heading_gradient, .text-gradient {
    -webkit-text-fill-color: transparent;
}

.text-whiteLOp{
    color: rgba(255,255,255,.6);
}

.text_gray{
    color: #222;
    transition: all .75s ease;
}

.text_gray_light{
    color: #bbb;
    transition: all .75s ease;
}





@keyframes bg-circle {
    0% {
        background-size: 350%;
        background-position: left 100% bottom 0;
    }
    
    50% {
        background-size: 350%;
        background-position: left -10% bottom 0;
    }

    100% {
        background-size: 350%;
        background-position: left 100% bottom 0;
    }
}

@keyframes bg-anim {
    0% {
        background-position: 0 0;
    }
    
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0 0;
    }
}