button:focus,
input:focus {
    outline: 0;
}

.modal-content {
    width: 450px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 32px 80px;
}

.modal-header {
    padding-bottom: 10px;
    margin: 0 -32px;
    padding: 0 32px;
}

.bl-input {
    background-color: rgba(13, 12, 34, .05);
    border: 1px solid transparent;
    height: 40px;
    border-radius: 0;
}

.input-main-wrap,
.input-main-wrap-with-border:focus-within {
    border: 1px solid transparent;
}

.input-main-wrap:focus-within {
    background: linear-gradient(#c058ff, #ff4963);
}

.bl-input:focus {
    outline: 0;
    transition: none;
}

.btn-on-modal .bl-btn,
.btn-on-modal .bl-btn:hover {
    background: linear-gradient(.351turn, #ff5858 23.71%, #c058ff 78.8%);
    background-size: 165%;
    border-radius: 0;
}

.modal-logo-holder {
    left: 16px;
    top: 11px;
}

.modal-input-box {
    height: 40px;
    padding-left: 48px;
    padding-right: 62px;
}

.input-main-wrap-with-border {
    border: 1px solid #e7e7e9;
}

.input-main-wrap-with-border:focus-within {
    background: #0095f6;
}

.input-main-wrap,
.input-main-wrap-with-border:focus-within {
    border: 1px solid transparent;
}

.modal-logo-holder svg {
    width: 18px;
    height: 18px;
}

.modal-logo-holder svg path {
    fill: black;
}


.modal-item-remove {
    width: 32px;
    height: 40px;
}

.modal-drag-drop {
    width: 24px;
    height: 40px;
    background: #f3f3f4;
}

.modal-input-box {
    font-size: 14px;
    letter-spacing: .5px;
}

.modal-input-box:focus+.modal-right-opt .modal-drag-drop {
    background: #0095f6;
}

.modal-input-box:focus+.modal-right-opt .modal-drag-drop svg circle {
    fill: #fff;
}

.transparent-scroll::-webkit-scrollbar {
    width: 0;
}

.transparent-scroll::-webkit-scrollbar-thumb,
.transparent-scroll::-webkit-scrollbar-track {
    background: 0 0;
}

.transparent-scroll::-webkit-scrollbar-thumb,
.transparent-scroll::-webkit-scrollbar-track {
    background: 0 0;
}