.bl-btn-md {
    min-width: 96px;
    height: 40px;
}

/* .bl-btn {
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(112.44deg,#ff5858 2.09%,#c058ff 75.22%);
    background-size: 165%;
} */

.theme-bg-box,
.theme-btn-box {
    height: 200px;
}

.br-grey {
    border: 1px solid #e7e7e9;
}

.theme-btn {
    height: 22px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    box-shadow: rgb(24 39 75 / 12%) 0px 6px 14px -6px, rgb(24 39 75 / 10%) 0px 10px 32px -4px, rgb(24 39 75 / 5%) 0px 0px 2px 1px inset;
}

.border-dash {
    border: 1.5px dashed #6e6d7a;
}

.theme-gradient-btn {
    background: linear-gradient(180deg, #000, rgba(0, 0, 0, .25));
}

.theme-default-border {
    border: 2px solid transparent;
}

.theme-select-border {
    border: 2px solid #0095f6;
}

.theme-bordered-btn {
    border: 2px solid #000;
}

.custom-color-picker {
    background: radial-gradient(43.44% 43.44% at 50% 50%, #fff 0, hsla(0, 0%, 100%, .0001) 100%), conic-gradient(from 90deg at 50% 50%, #ff0606 -1.92deg, #ff06e8 46.47deg, #120bff 116.9deg, #0ad5ff 163.94deg, #11feff 178.78deg, #10f93b 222.31deg, #09ff08 248.2deg, #fffa06 302.85deg, #ff0606 358.08deg, #ff06e8 406.47deg);
}