.bl-btn-md {
    min-width: 96px;
    height: 40px;
}

/* .bl-btn {
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(112.44deg,#ff5858 2.09%,#c058ff 75.22%);
    background-size: 165%;
} */

.theme-bg-box,
.theme-btn-box {
    height: 200px;
}

.br-grey {
    border: 1px solid #e7e7e9;
}

.theme-btn {
    height: 22px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    box-shadow: rgb(24 39 75 / 12%) 0px 6px 14px -6px, rgb(24 39 75 / 10%) 0px 10px 32px -4px, rgb(24 39 75 / 5%) 0px 0px 2px 1px inset;
}

.border-dash{
    border: 1.5px dashed #6e6d7a;   
}

.theme-gradient-btn {
    background: linear-gradient(180deg,#000,rgba(0,0,0,.25));
}

.theme-default-border {
    border: 2px solid transparent;
}

.theme-select-border {
    border: 2px solid #0095f6;
}

.theme-bordered-btn {
    border: 2px solid #000;
}