.bl-btn-md {
    min-width: 96px;
    height: 40px;
}

/* .bl-btn {
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(112.44deg,#ff5858 2.09%,#c058ff 75.22%);
    background-size: 165%;
} */