.btn-h-48 {
    height: 48px;
    width: 100%;
}

.bg-blPrimary {
    background-color: #0095f6
}

.drag-and-drop {
    width: 34px;
    height: 100%;
    right: 0;
    top: 0;
}

.socio,
.socio:hover {
    background: #fff;
    transition: all .15s ease;
}

.socio {
    transform: scale(1);
}

.sociallink-each svg {
    width: 28px;
    height: 28px;
}



.skeleton {
    
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #fafafa 15%, #cdcdcd 20%, #fafafa 30%, #fafafa 15%);
    background-size: 1000px 640px;
    
    position: relative;
    
}


@keyframes placeHolderShimmer {
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}